{% extends "base.html" %}

{% block title %}{{ object.title }}{% endblock title %}
{% block h1 %}橋梁緒言{% endblock %}

{% block content %}
{% comment "" %}
<div class="sidebar">
  <p>インフラプロジェクト</p>
  <ul>
      <li><a href="{% url 'list-infra' object.article.pk %}">橋梁一覧</a></li>{# 橋梁一覧 #}
      <li><a href="{% url 'detail-infra' object.article.pk object.pk %}">橋梁緒言</a></li>{# その1 #}
      <li>✕一般図</a></li>{# その2 #}
      <li>✕全景写真</a></li>{# その3 #}
      <li><a href="{% url 'number-list' object.article.pk object.pk %}">番号図</a></li>{# その4 #}
      <li>✕所見まとめ</a></li>{# その6 #}
      <li><a href="{% url 'observations-list' object.article.pk object.pk %}">所見一覧</a></li>{# その7・8 #}
      <li>✕損傷図</a></li>{# その9 #}
      <li><a href="{% url 'bridge-table' object.article.pk object.pk %}">損傷写真</a></li>{# その10 #}
      <li><a href="{% url 'file-upload' object.article.pk object.pk %}">アップロード</a></li>
      <li><a id="excel_download" href="{% url 'excel-output' object.article.pk object.pk %}">エクセル出力</a></li>
      {# <li><a id="dxf_download" href="{% if table.dxf %}{{ table.dxf.url }}{% endif %}">dxfデータ出力</a></li> #}
      <li><a id="dxf_download" href="{% url 'dxf-output' object.article.pk object.pk %}">dxfデータ出力</a></li>
      {# ↓をクリックした時、↑2つをクリックしたことにするJavaScriptを用意する。(dxfファイルが無い場合、このボタンは機能しない。) #}
      <li><button id="double_download">ファイル出力</button></li>
      <script>
        const double_download = document.querySelector("#double_download");

        double_download.addEventListener("click", () => {
            document.querySelector("#excel_download").click();
            document.querySelector("#dxf_download").click();
            console.log("click");
        });
      </script>
    
      <li></li>
      <div>案件番号: {{ object.article.pk }}</div>
      <div>橋梁番号: {{ object.pk }}</div>
  </ul>
  <div class="sidebar-toggle">
    <button class="btn btn-primary">＜</button>
  </div>
</div>
{% endcomment %}
  <div class="p-4 m-4 bg-light border border-success rounded">
    <h2 class="text-success">{{ object.橋梁名 }}</h2>
    <p>径間数：{{ object.径間数 }} 径間</p>
    <p>橋長：{{ object.橋長 }} m</p>
    <p>全幅員：{{ object.全幅員 }} m</p>
    <!--<p>緯度：{{ object.latitude }}</p>
    <p>経度：{{ object.longitude }}</p> -->
    <p>橋梁コード：{{ object.橋梁コード }}</p>
    <p>活荷重</p>
    <ul>
        {% for loadWeight in object.活荷重.all %}
        <li>{{ loadWeight.活荷重 }}</li>
        {% endfor %}
    </ul>
    <p>等級</p>
    <ul>
        {% for loadGrade in object.等級.all %}
        <li>{{ loadGrade.等級 }}</li>
        {% endfor %}
    </ul>

    <p>適用示方書</p>
    <ul>
        {% for rulebook in object.適用示方書.all %}
        <li>{{ rulebook.適用示方書 }}</li>
        {% endfor %}
    </ul>
    <p>上部構造形式：{{ object.上部構造形式 }}</p>
    <p>下部構造形式：{{ object.下部構造形式 }}</p>
    <p>基礎構造形式：{{ object.基礎構造形式 }}</p>

    <p>近接方法</p>
    <ul>
        {% for approach in object.近接方法.all %}
        <li>{{ approach.近接方法 }}</li>
        {% endfor %}
    </ul>

    <p>交通規制</p>
    <ul>
        {% for regulation in object.交通規制.all %}
        <li>{{ regulation.交通規制 }}</li>
        {% endfor %}
    </ul>

    <p>第三者点検の有無</p>
    <ul>
        {% for thirdparty in object.第三者点検.all %}
        <li>{{ thirdparty.第三者点検 }}</li>
        {% endfor %}
    </ul>
    <p>海岸線との距離：{{ object.海岸線との距離 }} m</p>

    <p>路下条件</p>
    <ul>
        {% for undercondition in object.路下条件.all %}
        <li>{{ undercondition.路下条件 }}</li>
        {% endfor %}
    </ul>
    <p>特記事項：{{ object.特記事項 }}</p>
    <p>交通量：{{ object.交通量 }} 台(昼間12時間)</p>
    <p>大型車混入率：{{ object.大型車混入率 }} ％</p>
    
    <!-- Google Maps表示用のdiv -->
    <div id="map" style="height: 400px; width: 100%;"></div>
    
    <!-- 緯度と経度と住所を表示する要素(result) -->
    <div id="result"></div>
    
    <!-- Google Maps JavaScript APIの非同期読み込み -->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD93KKf7lXAP6EXSCVRAm1y2tL7tQ48HAg&callback=initMap" async defer></script>

    <!-- initMap関数の定義 -->
    <script>
      function initMap() {
        var savedLat = parseFloat(localStorage.getItem('latitude')) || 35.6812; // 指定がなければ東京駅
        var savedLng = parseFloat(localStorage.getItem('longitude')) || 139.7670; // 指定がなければ東京駅
        // iframeのsrc属性を更新
        var iframeUrl = `https://www.mlit.go.jp/road/ir/ir-data/census_visualizationR3/webmap.html#16/${savedLat}/${savedLng}`;
        document.getElementById('mapFrame').src = iframeUrl;
        var map = new google.maps.Map(document.getElementById('map'), {
          center: {lat: savedLat, lng: savedLng},// 中心を東京駅に設定
          zoom: 12
        });
  
        // マーカーを作成
        var marker = new google.maps.Marker({
          position: {lat: savedLat, lng: savedLng}, // 保存された座標(指定がなければ東京駅)
          map: map,
          draggable: true
        });
  
        // マーカーのドラッグ終了時のイベントリスナー
        google.maps.event.addListener(marker, 'dragend', function(event) {
          var lat = event.latLng.lat();
          var lng = event.latLng.lng();
  
          // ローカルストレージに緯度経度を保存
          localStorage.setItem('latitude', lat);
          localStorage.setItem('longitude', lng);
  
          document.getElementById('result').innerHTML = '緯度: ' + lat + '<br>経度: ' + lng;
        });
  
        // マップをクリックした時のイベントリスナー
        google.maps.event.addListener(map, 'click', function(event) {
          // クリックされた位置にマーカーを移動
          marker.setPosition(event.latLng);
  
          // クリックされた位置の緯度経度を取得
          var lat = event.latLng.lat();
          var lng = event.latLng.lng();
  
          // ローカルストレージに緯度経度を保存
          localStorage.setItem('latitude', lat);
          localStorage.setItem('longitude', lng);
  
          // 逆ジオコーディングを行う関数
          function geocodeLatLng(lat, lng) {
            var geocoder = new google.maps.Geocoder();
            var latlng = {lat: parseFloat(lat), lng: parseFloat(lng)};
          
            geocoder.geocode({ 'location': latlng }, function(results, status) {
              if (status === 'OK') {
                if (results[0]) {
                  var formattedAddress = results[0].formatted_address;
                  // 地図のURLを更新
                  var iframeUrl = `https://www.mlit.go.jp/road/ir/ir-data/census_visualizationR3/webmap.html#16/${lat}/${lng}`;
                  document.getElementById('mapFrame').src = iframeUrl;
          
                  // 地図の位置情報を表示
                  document.getElementById('result').innerHTML = '緯度: ' + lat + '<br>経度: ' + lng + '<br>住所: ' + formattedAddress;
                } else {
                  window.alert('No results found');
                }
              } else {
                window.alert('Geocoder failed due to: ' + status);
              }
            });
          }
  
          // 逆ジオコーディング関数呼び出し
          geocodeLatLng(lat, lng);
        });
      }
    </script>
    <div class="map-container">
      <iframe id="mapFrame" src="https://www.mlit.go.jp/road/ir/ir-data/census_visualizationR3/webmap.html#13/${lat}/${lng}" width="1110" height="350"></iframe>  
    </div>
    <!--<iframe src="https://www.mlit.go.jp/road/ir/ir-data/census_visualizationR3/index.html#13/35.6823/139.7550" width="1000" height="300"></iframe>-->
      <h5>国土交通省:令和3年度道路交通センサス</h5>
      <script>
      function handleOrderChange() {
                  // プルダウンメニューが変更されたときの処理をここに追加
                  var orderSelect = document.getElementById("order_by");
                  var selectedValue = orderSelect.value;
    
                  // 選択された値を使って何かしらの処理を行う（例：Ajaxでデータを取得するなど）
                  console.log("選択された値: ", selectedValue);
              }
      var sidebar = document.querySelector('.sidebar');
      var sidebarToggle = document.querySelector('.sidebar-toggle');
    
      sidebarToggle.addEventListener('click', function() {
                  sidebar.classList.toggle('open');
              });
              
              function stickySidebar() {
                var sidebar = document.querySelector('.sidebar');
                var sidebarTop = sidebar.getBoundingClientRect().top;
                var windowTop = window.pageYOffset || document.documentElement.scrollTop;
              
                if (windowTop > sidebarTop && windowTop > 0) {
                  sidebar.style.position = 'fixed';
                  // サイドバーの位置やスタイルを調整する必要がある場合は、適宜追加の処理を行ってください
                } else {
                  // sidebar.style.position = 'static';
                  // サイドバーの位置やスタイルを調整する必要がある場合は、適宜追加の処理を行ってください
                }
              }
              
              // スクロールイベントを監視して、サイドバーの位置を動的に変更する
              window.addEventListener('scroll', function() {
                stickySidebar();
              }); 
      </script>

    <div class="form-container">
      <form method="post">
          {% csrf_token %}
          {{ form.as_p }}
      </form>
    </div>
    <a href="{% url 'list-infra' object.article.pk %}" class="btn btn-primary">一覧</a>
    {# path('article/<int:pk>/infra/') #}
    <a href="{% url 'update-infra' object.article.pk object.pk %}" class="btn btn-primary">編集</a>
    {# path('article/<int:article_pk>/infra/<int:pk>/update/) #}
    <a href="{% url 'delete-infra' object.article.pk object.pk %}" class="btn btn-primary">削除</a>
    {# path('article/<int:article_pk>/infra/<int:pk>/delete/) #}
    <h6 class="card-title">{{ object.カテゴリー }}</h6>
  </div>
  
{% endblock content %}